
/* @font-face {
  font-family: 'Pressura';
  src: url("../fonts/gt-pressura-regular.ttf") format("opentype");
  src: url("../fonts/gt-pressura-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  src: url("../fonts/Ferry-Black.eot");
  src: url("../fonts/Ferry-Black.eot?") format("embedded-opentype"), url("../fonts/Ferry-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-family: 'Ferry Black'; } */


.regular {
  font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;
}

.medium {
  font-family: sofia-pro, sans-serif;
font-weight: 500;
font-style: normal;
}

.bold {
  font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: normal;
}

html,
input {
	/* this smooths our fonts nicely on higher density screens */
  -webkit-font-smoothing: antialiased;
}


h1{
  line-height: 110%;
  margin: 0px;
  font-size: 4em;
}



 @media (min-width: 30em) {
  .h3-ns{
    font-size: 64px;
  }
} 
