/* we declare our variable inside a :root selector */
:root {
  /* give the variable a name and value (needs two -- in front) */
  --yellow: #FFC920;
  --blue: #7DC0E9;
  --green: #00A67E;
  --red: #e76b6c;
  --breakpoint-1: 840px;
  --medium-font: font-family: sofia-pro, sans-serif;

  --angle: 8px;
  --angle-o: 4px;
}

/*COLORS*/
.yellow-text {
 color: var(--yellow);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
}


@keyframes fadein {
0% {opacity: 0;}
100% { opacity: 1;}
}


body {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1b1b1b; 
  margin: 100vh 0 0 0;
}

a {
  text-decoration: none;
  color: #414141;
}

p {
  margin: 0;
}


  @media (min-width: 30em) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 4rem;
      padding-right: 4rem;
    }

  }


  @media (min-width: 30em) {
    .container-big {
      max-width: 2000px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .lh-110 {
      line-height: 1.1;
    }

  }

  @media (max-width: 30em) {
    .container, .container-small {
      padding-left: 2rem;
      padding-right: 2rem;
    }


    .hero-text {
      font-size: 32px;
      font-weight: 700;
    }

  

  }






.button {
  display: inline-block;
  background-color: var(--yellow);
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid black;
  padding: 8px 72px;
  border-radius: 100px;
  width: fit-content;
text-decoration: none;
transition: transform 0.5s;
/* box-shadow: 4px 8px #000; */
}



.button-outline {
  display: inline-block;
  border: 2px solid BLACK;
  color: black  ;
  text-transform: uppercase;
  letter-spacing: 0.05em; 
  padding: 8px 72px;
  border-radius: 100px;
  width: fit-content;
text-decoration: none;
transition: box-shadow 0.5s;
box-shadow: 4px 8px #000;
}



.button:hover, .button-outline:hover {
  background-color: #FFE185;
  }




.image-svg {
  transition: transform 0.5s;
}


.image-svg:hover {
  transform: translateY(-4px);
}


.image-svg:before {
  transform: scale(0.2)
}



.full-width-hero {
  width: 100vw !important;
  /* background-color: var(--blue); */
}


.full-width-green {
  width: 100vw !important;
  background-color: var(--green);
}


.hyphens { hyphens: auto;}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px 64px;
}



@media (max-width: 30em) {
  header {
    padding: 16px;
    background-color: white;
  }

  .button {
    padding: 8px 48px;
  }

  .section-hero {
    margin-top: 76px;
  }
}

.logo {
  width: 100px; 
}



@media (min-width: 30em) {
  
  .scroll-to {
    position: absolute;
    left: 50%;
    bottom: 3vh;
    width: 48px;
    height: 24px;
    background-image: url(/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateX(-50%);
  }
  
  .scroll-to-intro {
    background-image: url(/images/down-arrow.svg);
  }
  

}

div.image-up {
  overflow: hidden;
}

div.image-up img {
  transform: translate(0, 120%);
  transition: transform 1s 0.25s;
}

div.image-up.in-view img {
  transform: translate(0, 0);
}


footer {
  z-index:101;
  background-color: var(--green);
}


/*Footer

@media (min-width: 1040px)
.footer {
    padding-bottom: 88px;
    padding-top: 88px;
}
@media (min-width: 840px)
.footer {
    padding-bottom: 64px;
    padding-top: 64px;
}
@media (min-width: 640px)
.footer {
    padding-bottom: 48px;
    padding-top: 48px;
}
.footer {
    padding-bottom: 32px;
    padding-top: 32px;
    background: #f7f7f7;
}
article, aside, footer, header, nav, section {
    display: block;
}

*/


.block {
  display:block;
}

span {
  hyphens: auto;
}


.skew-image {
  transition: transform 0.25s;
  will-change: transform;
}

section.full-width {
  width: 100%;
}



 svg.wavy {
  width: 20vw;
  height: 50px;
}

.wavez {
  stroke: #000000;
  stroke-width: 5px;
  stroke-linecap: round;
  fill: none;
} 


@media (max-width: 30em) {
  svg.wavy {
    width: 200px;
    height: 50px;
  }
  
  .wavez {
    stroke: #000000;
    stroke-width: 5px;
    stroke-linecap: round;
    fill: none;
  } 
}

.headline-dark {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.headline-light {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.sticky {
  top: 0;
  position: sticky;
}


/*KUNDER*/


.image-kund {
  transition: transform 0.5s;
}


.image-kund:hover {
  transform: scale(0.9);
}


.text-kund {
  transform: translateY(-40px);
}


.hero-page {
  position: fixed;
  top: 0;
  left: 0;
}


svg.blob {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  
}


g.blob path {
  transition: fill 0.5s;
  transform: scale(0.03);
  transition: transform 1s;
}

 g.blob.in-view path {
  transform: scale(1);
  transition: transform 3s cubic-bezier(0.25,0.46,0.45,0.94);
} 

