/* we declare our variable inside a :root selector */
:root {
  /* give the variable a name and value (needs two -- in front) */
  --yellow: #FFC920;
  --blue: #7DC0E9;
  --green: #00A67E;
  --breakpoint-1: 840px;
  --medium-font: font-family: sofia-pro, sans-serif;
}

body {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1b1b1b; 
}

a {
  text-decoration: none;
  color: #414141;
}

p {
  margin: 0;
}


  @media (min-width: 30em) {
    .container {
      max-width: 1152px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 4rem;
      padding-right: 4rem;
    }

  }


  @media (max-width: 30em) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

  }





.button {
  display: inline-block;
  background-color: var(--yellow);
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  padding: 16px 72px;
  border-radius: 100px;
  width: fit-content;
text-decoration: none;
transition: transform 0.5s;
}


.button:hover {
  transform: translateY(-4px);
  }


.image-svg {
  transition: transform 0.5s;
}


.image-svg:hover {
  transform: translateY(-4px);
}


@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.full-width-blue {
  width: 100vw !important;
  background-color: var(--blue);
}


.full-width-green {
  width: 100vw !important;
  background-color: var(--green);
}